<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flatfile SDK Demo</title>
  <script src="https://unpkg.com/@flatfile/sdk/dist/index.js"></script>
</head>
<body>
  <button id="import">Import Data</button>

  <script>
    const importer = flatfileImporter('<%= @token %>')

    importer.on('init', ({ batchId }) => {
      console.log(`Batch ${batchId} has been initialized.`)
    })
    importer.on('launch', ({ batchId }) => {
      console.log(`Batch ${batchId} has been launched.`)
    })
    importer.on('error', (error) => {
      console.error(error)
    })
    importer.on('complete', async (payload) => {
      let result = JSON.stringify(await payload.data(), null, 4)
      console.log(result)
      let base64URL = 'data:application/json;charset=utf-8,' + encodeURIComponent(result)
      let win = window.open();
      win.document.write('<iframe src="' + base64URL  + '" frameborder="0" style="border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;" allowfullscreen></iframe>');
    })

    document.querySelector('#import').addEventListener('click', async () => {
      alert('Import Started!')
      await importer.launch()
    })
  </script>
</body>
</html>
